Require all granted
Options +ExecCGI
AddHandler cgi-script .py .pl
DirectoryIndex index.py index.php index.html index.htm index.xml index.txt index.jpg index.png index.gif index.jpeg index.pl

RewriteEngine on

#vv Custom Paths vv#


#^^ Custom Paths ^^#

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ "AElfi/defaults/404.py?sourcepage=$1"

RewriteCond %{REQUEST_FILENAME} .py$
RewriteRule ^(.*)$ "AElfi/__init__.py?AELFI_PAGE=$1" [L,QSA]

RewriteCond %{REQUEST_FILENAME} /aelfi.conf$
RewriteRule ^.*$ "" [F]

RewriteCond %{REQUEST_FILENAME} .template$
RewriteRule ^.*$ "" [F]

Options -Indexes